.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crop-image {
    width: 450px;
    height: 450px;
    object-fit: contain;
}

.button-group {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.canvas1 {
    display: none;
}